footer
	.content
		h2 ENTRE EM CONTATO
		p Para me enviar uma mensagem, ou para dizer um olá, preencha o formulário abaixo ou entre em contato pelo<br />telefone/e-mail. Responderei o mais rápido possível.
		.content-form
			form
				input(type="text", placeholder="NOME")
				input(type="text", placeholder="E-MAIL")
				textarea(placeholder="MENSAGEM")
				.status-envio MENSAGEM ENVIADA COM SUCESSO! OBRIGADO!
				input(type="submit", value="ENVIAR")
		.clear
		a.be
		a.vi
		a.in
		a.tw
		a.fc



script(type='text/javascript', src='assets/scripts/main.js')