!!! 5
html
	head
		title Appixel
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		#header
			.content
				a.logo

				.menu
					a(href="") HOME
					a(href="") APPS
					a(href="") EQUIPE
					a(href="") CONTATO

				.clear

				.left
					h4 LOREM IPSUM IS DUMMY
					h1 LOREM IPSUM IS SIMPLY DUMMY
					p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
					button CONHEÇA NOSSOS APPS

				.celular

 
		#aplicativos
			.content
				.icon
				h3 APLICATIVOS PARA FACILITAR SUA VIDA.
				h5 Utilidade, diversão, e o que for deixar sua vida mais leve e tranquila.

				.clear

				.listApp
					.apps
						.queSorte
						.right
							h2 QUE SORTE
							p Quem nunca naquela hora de fazer uma fézinha ficou olhando o jogo e rodeando os 60 números sem saber por onde começar a marcar? Contra a sorte não existem estastísticas.
							p O Que Sorte! é um App desenvolvido para facilitar a vida dos apostadores que na hora da aposta acabam em dúvida em quais números jogar. Os números são gerados de forma aleatória e é possível salvar os últimos jogos para auxiliar na conferência do resultado da Mega Sena e da Quina.

							a.apple
							a.google
							a.mozilla

		#equipe
			.content
				.icon
				h3 SIM, DESENVOLVEMOS APPS MOBILE.
				h5 Diversão é o nosso trabalho. Nosso trabalho é nossa diversão. E a sua também.

				.clear

				.user
					div(style="background-image: url(assets/images/andre.jpg)")
					span André Castro™
					p Web Designer
					a(href="#")

				.user
					div(style="background-image: url(assets/images/carlos.jpg)")
					span Carlos Eduardo™
					p Desenvolvedor
					a(href="#")

				.user
					div(style="background-image: url(assets/images/andre.jpg)")
					span Milton Vinícius
					p Desenvolvedor
					a(href="#")


		#contato
			.content
				.icon
				h3 ENTRE EM  CONTATO CONOSCO
				h5 Para nos enviar uma mensagem, ou para dizer um simples olá. Responderemos o mais breve possível.

				.clear

				.form
					input(type="text", placeholder="NOME")
					input(type="text", placeholder="E-MAIL")
					textarea(placeholder="MENSAGEM")
					input(type="submit", value="ENVIAR MENSAGEM")

				.copy
					| Appixel Apps 2014 ©
					br
					| Todos os direitos reservados.
		

		script(src="assets/scripts/script.js")