!!! 5
html
	head
		title Appixel
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		#header
			.content
				a.logo

				.menu
					a(href="") HOME
					a(href="") APPS
					a(href="") EQUIPE
					a(href="") CONTATO

				.clear

				.left
					h1 DESENVOLVENDO PIXEL A PIXEL
					//- h1 LOREM IPSUM IS SIMPLY DUMMY
					p Somos amigos com algumas ideias na cabeça. Umas são boas e outras nem tanto. Elas podem sair do papel e virar algo útil na vida das pessoas.  E o melhor, que é se divertir desenvolvendo essas ideias. Pixel a pixel.
					button CONHEÇA NOSSOS APPS

				.celular

 
		#aplicativos
			.content
				.icon
				h3 CONHEÇA NOSSOS APLICATIVOS
				h5 Utilidade, diversão, distração e o que for para tentar deixar sua vida mais tranquila.

				.clear

				.listApp
					.apps
						.queSorte
						.right
							h2 QUE SORTE
							p Quem nunca naquela hora de fazer uma fézinha ficou olhando o jogo e rodeando os 60 números sem saber por onde começar a marcar? Contra a sorte não existem estastísticas.
							p O Que Sorte! é um App desenvolvido para facilitar a vida dos apostadores que na hora da aposta acabam em dúvida em quais números jogar. Os números são gerados de forma aleatória e é possível salvar os últimos jogos para auxiliar na conferência do resultado da Mega Sena e da Quina.

							a.apple
							a.google
							a.mozilla

		#equipe
			.content
				.icon
				h3 QUEM SOMOS
				h5 Pequena equipe, formada por designers e programadores, que nas horas vagas tentam tirar ideias do papel e colocá-las em prática. Fique a vontade para visitar nosso portifólio.

				.clear

				.user.one
					div(style="background-image: url(assets/images/andre.jpg)")
					span André Castro™
					p Web Designer
					a(href="#")

				.user
					div(style="background-image: url(assets/images/carlos.jpg)")
					span Carlos Eduardo™
					p Desenvolvedor
					a(href="#")

				//- .user
				//- 	div(style="background-image: url(assets/images/vivi.jpg)")
				//- 	span Milton Vinícius
				//- 	p Desenvolvedor
				//- 	a(href="#")


		#contato
			.content
				.icon
				h3 ENTRE EM CONTATO CONOSCO
				h5 Para nos enviar uma mensagem, ou para dizer um simples olá. Responderemos o mais breve possível.

				.clear

				.form
					input(type="text", placeholder="NOME")
					input(type="text", placeholder="E-MAIL")
					textarea(placeholder="MENSAGEM")
					input(type="submit", value="ENVIAR MENSAGEM")

				.copy
					| Appixel Apps 2014 ©
					br
					| Todos os direitos reservados.
		

		script(src="assets/scripts/script.js")