!!! 5
html
	head
		title Apprimore
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body


		header(style="display: none")
			.content
				a.logo

				nav
					a(href="#")
						| HOME
					a(href="#")
						| APPS
					a(href="#")
						| QUEM SOMOS
					a(href="#")
						| CONTATO



		#header
			.overlay



			.content.center
				a.logo

				nav
					a.active(href="#")
						| HOME
					a(href="#")
						| APPS
					a(href="#")
						| QUEM SOMOS
					a(href="#")
						| CONTATO
					
				.clear

				h1 Aperfeiçoando o seu futuro no dia a dia.
				h5 Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.

				button.ns-apps(href="#")
					| CONHEÇA NOSSOS APPS


		.ctt

			#ctt-cheatter.apps
				.content
					h3 LOREM IPSUM  DOLOR SIT AMET CONSECTETUER
					h5 Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt

					.clear
					.aplicativos.bg
					.descricao
						h2 CHEATTER
							strong.bg
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipite.
						p
							strong.bg.icon01
							| Claritas est etiam processus dynamicus.
						p
							strong.bg.icon02
							| Feugait nulla facilisi.
						p
							strong.bg.icon03
							| Obis videntur parum clari.
						a.bg.apple
						a.bg.google
						a.bg.windows
						a.bg.mozilla
						a.bg.amazon



			#ctt-vibrate.apps
				.content
					.descricao
						h2 VIBRATE U
							strong.bg
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipite.
						p
							| Claritas est etiam processus dynamicus.
							strong.bg.icon01
						p
							| Feugait nulla facilisi.
							strong.bg.icon02
						p
							| Obis videntur parum clari.
							strong.bg.icon03
						
						a.bg.amazon
						a.bg.apple
						a.bg.google
						a.bg.windows
						a.bg.mozilla

					.aplicativos.bg




			#ctt-apprimore.apps
				.content
					h3 CONHEÇA A APPRIMORE
					h5 Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.orem ipsum dolor sit amet, consectetuer adipiscing elit,.

					.box
						.bg.iconApp01
						h4 INOVAÇÕES EM APPS
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.

					.box.meio
						.bg.iconApp02
						h4 APLICATIVOS LEVES
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.

					.box
						.bg.iconApp03
						h4 LAYOUTS RESPONSIVOS
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
			
			footer
				.content
					h3 ENTRE EM CONTATO CONOSCO
					h5 Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
					
					.clear
					.form
						input(type="text", placeholder="Nome")
						input(type="text", placeholder="E-mail")
						textarea(placeholder="Mensagem")
						input(type="submit", value="ENVIAR")
					.right
						p Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes su aplica demonstraverunt lectores legere me lius.
						a.contato(href="#")
							| contato@apprimore.com.br
						.clear
						a.bg.twitter
						a.bg.facebook
						a.bg.insta

					.clear
					p.copy
						| Apprimore Apps 2014 ©
						br
						| Todos os direitos reservados.

		script(src="assets/scripts/script.js")