@import url('http://fonts.googleapis.com/css?family=Titillium\+Web:400,300,200,700,600')

*
	text-decoration none
	outline none
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	margin 0
	padding 0
	border none
	font-family 'Titillium Web', sans-serif
	font-weight 300
	
.content
	width 1360px
	height auto
	margin 0 auto

.clear
	clear both
	

header
	width 100%
	height 840px
	float left
	background-image url('../images/background.png')
	background-repeat no-repeat
	background-size cover
	text-align center
	margin 0
	nav
		width auto
		margin 0
		font-size 14px
		letter-spacing 2px
		line-height 120%
		font-weight 600
		color rgb(255,255,255)
		display inline-block
		.logo
			width 192px
			height 47px
			background-image url('../images/logo.png')
			background-repeat no-repeat
			margin 0px 100px 0px
			padding 0
			transform translate3d(0px, 18px , 0px)
			&:hover
				border-color transparent
		a
			width auto
			display inline-block
			color #fff
			border-top 4px transparent solid
			padding-top 35px
			margin 0 50px
			&:hover
				color rgb(33,150,243)
				border-top-color rgb(33,150,243)
	h1
		font-size 48px
		font-weight 700
		color rgb(255,255,255)
		margin 310px 0 0 0
		padding 0
	h2
		font-size 14px
		letter-spacing 2px
		line-height 120% 
		color rgb(167,167,184)
		font-weight 300
	.ralos
		font-size 16px
		font-weight 600
		letter-spacing 1px
		color rgb(255,255,255)
		border 2px #fff solid
		padding 20px 25px
		margin 100px 0 0
		display inline-block
		&:hover
			background-color #fff
			color #1F2B42
	.go
		width 42px
		height 43px
		display inline-block
		background-image url('../images/seta.png')
		background-repeat no-repeat
		margin 120px 0 0 0

#trabalhos
	width 100%
	float left
	margin 0
	padding 0
	text-align center
	h2
		font-size 22px
		font-weight 600
		letter-spacing 4px
		color rgb(31,51,63)
		text-align center
		margin 60px 0 0 0
		&:before
			content ''
			background-image url('../images/estrela.png')
			background-repeat no-repeat
			display block
			width 30px
			height 28px
			margin 0 auto 20px
	h3
		font-weight 200
		font-size 18px
		line-height 120%
		color rgb(136,136,136)
		text-align center
	ul
		width auto
		display inline-block
		margin 70px 0 0 0
		padding 0
		list-style none
		font-size 14px
		font-weight 600
		letter-spacing 1px
		line-height 120%
		text-align center
		li
			display inline-block
			margin 0 35px
			a
				color rgb(187,187,187)
				&:hover
					color #000
			.atv
				color #000
	.list-trabalhos
		width 100%
		float left
		margin 90px 0 0 0
		.ctt-trabalho
			width 409px
			display inline-block
			text-align center
			margin 0px 20px 100px
			.img-trab
				width 409px
				height 229px
				background-size cover
				background-image url('../images/img-port.png')
				background-repeat no-repeat
			h4
				font-size 15px
				letter-spacing 3px
				line-height 120%
				font-weight 600
				color rgb(32,32,32)
				margin 25px 0 10px 0
				padding 0
			p
				font-family Georgia, "Times New Roman", Times, serif
				font-size 12px
				line-height 120%
				font-style italic
				color rgb(136,136,136) 
				margin 0
				padding 0
	a.mostrar-mais
		background-color transparent
		border-color rgb(23,33,50)
		border-width 2px
		border-style solid
	
		font-size 16px
		font-weight 600
		letter-spacing 1px
		padding 20px 25px
		margin 0px 0 60px
		display inline-block
		&:hover
			background-color rgb(23,33,50)
			color #fff


#quem-sou
	background-color #F0F2F7
	width 100%
	float left
	margin 0
	padding 0
	text-align center
	h2
		font-size 22px
		font-weight 600
		letter-spacing 4px
		color #1F333F
		text-align center
		margin 60px 0 0 0
		&:before
			content ''
			background-image url('../images/quem-sou.png')
			background-repeat no-repeat
			display block
			width 37px
			height 26px
			margin 0 auto 20px
	p
		color rgb(151,163,171)
		line-height 130%
		font-size 18px
		margin-bottom 20px
		padding 0 70px
	.left-quem-sou
		width 710px
		float left
		margin 50px 0 0 80px
		.avatar
			width 346px
			height 360px
			float left
			background-image url('../images/foto.png')
			background-repeat no-repeat
		.dados
			float right
			width 330px
			margin-top 20px
			span
				width 100%
				display block
				text-align left
				margin 20px 0
				font-weight 200
				font-size:18px;
				color:rgb(151,163,171);
				strong
					color rgb(31,31,31)
					font-weight 600
					letter-spacing 3px
					margin-right 10px
	.right-quem-sou
		width 285px
		float right
		text-align left
		margin 50px 80px 0 0
		h3
			width 100%
			display block
			text-align left
			margin 20px 0 5px
			font-weight 200
			font-size:15px;
			color rgb(31,31,31)
			font-weight 600
			letter-spacing 3px
		.interesses
			background-color:rgb(255,255,255);
			width:90px;
			height:90px;
			display inline-block
			margin 0px 1px
			position relative
			span 
				position absolute
				bottom 5px
				color rgb(135,135,135)
				letter-spacing 2px
				font-size 11px
				width 100%
				text-align center
	a.download
		background-color transparent
		border-color rgb(23,33,50)
		border-width 2px
		border-style solid
		font-size 16px
		font-weight 600
		letter-spacing 1px
		padding 20px 25px
		margin 100px 0 60px
		display inline-block
		&:hover
			background-color rgb(23,33,50)
			color #fff


		



				
						




				


