include includes/header.jade

header
  .content

    nav
      a(href="") HOME
      a(href="") TRABALHOS
      a(href="").logo
      a(href="") SOBRE
      a(href="") CONTATO

    h1 OLÁ! BEM VINDO(A) AO MEU PORTIFÓLIO
    h2 FORMADO EM PUBLICIDADE E APAIXONADO PELO QUE FAZ E QUE ENVOLVE FOTOGRAFIA, VÍDEO, MÚSICA, TECNOLOGIA E DESIGN
    a.ralos(hre="") VEJA MEUS TRABALHOS
    .clear
    .go

#trabalhos
  .content
    h2 MEUS TRABALHOS
    h3 Obrigado por chegar até aqui. Abaixo estão alguns de meus trabalhos que fiz ao longo da minha ainda curta<br />carreira. Para outros trabalhos ou ver mais detalhes acesse: www.behance.com/andrecastrobh

    ul
      li
        a.atv(href="") TODOS
      li
        a(href="") WEB
      li
        a(href="") APPS
      li
        a(href="") DESIGN
      li
        a(href="") LOGO
      li
        a(href="") VÍDEO

    .list-trabalhos

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web

      .ctt-trabalho
        .img-trab
        h4 HILLSIDE RESIDENCE
        p Apps, Cultural, Web



//- RODAPÉ
include includes/footer.jade